body {
    font-family: Roboto, helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1rem;
    background-color: #702963; /* Dark purple */
    color: #ffffff; /* High contrast */
    text-align: center;
    font-weight: bold;
}

div.banner {
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(230, 243, 254);
    font-weight: 700;
       word-break: break-word;
      text-align: center;
  }
  

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

h2 {
    color: navy;
    text-align: center;
    grid-column: span 2; /* Span both columns */
}


article {
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 8px;
}

article p {
    text-align: justify;
}

ul {
    background-color: #f5f5dc;
    padding: 15px;
    border-radius: 8px;
}

.callout {
    color: #ffffff;
    background-color: #4b0082; 
    padding: 15px; 
    border-radius: 8px;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: right;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left; 
    padding: 10px;
}