/* Large View */
@media (min-width: 769px) {
    #menu-items {
        display: flex;
        justify-content: space-evenly; /* Adjusts the spacing evenly */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #menu-items li {
        margin: 0;  /* Remove margin between menu items */
        padding: 0 10px; /* Slight padding for separation */
    }

    .hamburger-button {
        display: none;
    }
}